profiles {

    local {
        process.executor = 'local'
        docker.enabled = true
    }

    hpc {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS1794'
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'work/singularity'
            process {
                resourceLimits {
                    cpus = 10
                    memory = 64.GB
                    time = 1.h
                }
            }
        }

    }
}