profiles {

    local {
        process.executor = 'local'
        docker.enabled = true
    }

    hpc {
        process.executor = 'slurm'
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '$SCRATCH/.singularity'
        }
        process {
            cpus = 10
            memory = 64.GB
            time = 1.h
            }
        }
}