/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

/*
 * Pipeline parameters
 */

params {
    // Primary input (file of input files, one per line)
    input_csv = "${projectDir}/data/paired-end.csv"

    // Output directory
    outdir = "vc_results"

}
