/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

/*
 * Pipeline parameters
 */

params {
    input_csv = "${projectDir}/data/paired-end.csv"

    // Output directory
    outdir = "results"

}
